# C extensions
*.so

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# virtualenv
venv/

# Vim
*~
*.sw?

# Mac OS
*.DS_Store
*.xcworkspace

bin/
